/*reset*/
* {
	margin: 0;
	padding: 0;
}
/*html,body {
	width:100%;
	height:100%;
}*/
body {
	font-size: 12px;
	color:#9a9a9a;
	font-family: "微软雅黑";
	line-height:initial;
	min-width: 1200px;
}
img {
	border:none;
	vertical-align: middle;
}
a {
	color:#fff;
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
button,input {
	border:none;
}
.wrap {
	width: 1200px;
	margin:0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom:1
}

/*头部*/
.topbar {
	position: fixed;
	top:0;
	right:0;
	left:0;
	background:rgba(0,0,0,.2);
	height: 100px;
	z-index: 5;
}
.topbar.active .logoImg {
	display: none;
}
.topbar .logo {
	margin-top: 20px;
}
.topbar .logoImg-active {
	display: none;
}
.topbar .navbar{
	font-size:0;
}
.topbar .navbar li {
	font-size: 16px;
	font-family: "微软雅黑";
	display: inline-block;
	margin-right: 10px;
	position: relative;
}
.topbar .navbar li.active {
	background:rgba(0,0,0,.4);
}
.topbar .navbar li.active:after {
	content:'';
	position: absolute;
	left:0;
	right:0;
	top:0;
	background:rgba(0,0,0,.6);
	height: 4px;
}
.topbar .navbar li a {
	height: 100px;
	line-height: 100px;
	padding:0 30px;
}
.topbar .switch-lang {
	padding-top: 29px;
	padding-left: 40px;
}
.topbar .switch-lang span {
	cursor: pointer;
}
.topbar .switch-lang .switch-activeImg {
	display: none;
}
.topbar.active {
	background: #fff;
	box-shadow: 0 2px 5px 0px #999;
	-webkit-box-shadow: 0 2px 5px 0px #999;
	-moz-box-shadow: 0 2px 5px 0px #999;
}
.topbar.active .logoImg-active {
	display: block;
}
.topbar.active .switch-lang .switch-img {
	display: none;
}
.topbar.active .switch-lang .switch-activeImg {
	display: block;
}
.topbar.active .navbar li a {
	color: #414141;
}
.topbar.active .navbar li.active {
    background:#f4f4f4;
}
.topbar.active .navbar li.active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #40afb9;
    height: 4px;
}

/*轮播*/
#banner {
	height: 790px;
	position: relative;
}
#banner .banner-wrap .slide-box {
	height: 790px;
}
#banner .arrow-left {
	width:32px;
	height:54px;
	position: absolute;
	left: 20px;
    top: 50%;
    margin-top: -27px;
    background: url(../images/arrow-left-icon.png) no-repeat;
    display: block;
    z-index: 2;
	cursor:pointer;
}
#banner .arrow-right {
	width:32px;
	height:54px;
	position: absolute;
	right: 20px;
    top: 50%;
    margin-top: -27px;
    background: url(../images/arrow-right-icon.png) no-repeat;
    display: block;
    z-index: 2; 
	cursor:pointer;
}
#banner .banner-wrap .slide-box img {
	/* width:100%;
	height:auto; */
}
#banner #slide1 {
	text-align:center;
}
#banner #slide1 .slide-thumb {
	/* width:35%; */
	margin:0 auto;
	margin-top:155px;
}
#banner #slide1 .slide-title {
	/* width:48%; */
	margin:0 auto;
	margin-top:80px;
}
#banner #slide2 {
	text-align:center;
}
#banner #slide2 .slide-thumb {
	/* width:35%; */
	margin:0 auto;
	margin-top:25px;
}
#banner #slide2 .slide-title {
	/* width:48%; */
	margin:0 auto;
	margin-top:-5px;
}

/*优势*/
.effect ul {
	padding-bottom: 70px;
}
.effect li{
	float: left;
	width:270px;
}
.effect .security {
	background: url(../images/01.png) no-repeat center center;
}
.effect .security:hover {
	background: url(../images/011.png) no-repeat center center;
}
.effect .arrange {
	background: url(../images/02.png) no-repeat center center;
}
.effect .arrange:hover {
	background: url(../images/022.png) no-repeat center center;
}
.effect .validate {
	background: url(../images/03.png) no-repeat center center;
}
.effect .validate:hover {
	background: url(../images/033.png) no-repeat center center;
}
.effect .conceal {
	background: url(../images/04.png) no-repeat center center;
}
.effect .conceal:hover {
	background: url(../images/044.png) no-repeat center center;
}
.effect .control {
	background: url(../images/05.png) no-repeat center center;
}
.effect .control:hover {
	background: url(../images/055.png) no-repeat center center;
}
.effect .algorithm {
	background: url(../images/06.png) no-repeat center center;
}
.effect .algorithm:hover {
	background: url(../images/066.png) no-repeat center center;
}
.effect li {
	padding:28px 30px;
	text-align: center;
	margin-right: 105px;
	margin-top: 70px;
}
.effect li:nth-child(3n) {
	margin-right: 0;
}
.effect li .thumb-box {
	width: 190px;
	height: 190px;
	margin:0 auto;
	cursor: pointer;
}
.effect li .effect-title {
	font-size:30px;
	color:#484848;
	font-weight: bold;
	font-family: "微软雅黑";
	padding-top: 30px;
}
.effect li .effect-introduce {
	padding-top: 20px;
	font-size:16px;
	color:#8f8f8f;
}

/*产品服务*/
.service {
	background: url(../images/service-bg.png) no-repeat;
	padding-top: 100px;
	background-size:100% 100%;
}
.service .service-title {
	text-align: center;
}
.service .service-title img {
	height: 64px;
	display: inline-block;
}
.service .service-list {
	padding-top: 20px;
}
.service .service-list .service-box{
	position: relative;
	padding-left: 350px;
	padding-bottom: 50px;
}
.service .service-list .service-box .ser-thumb {
	position: absolute;
	left:90px;
	top: 20px;
	width:179px;
	height: 179px;
	text-align: center;
	line-height: 179px;
}
.service .service-list .service-box .ser-thumb img {
	position: relative;
	z-index: 2;
}
.service .service-list .service-box .ser-thumb .bd {
	position: absolute;
	z-index: 1;
	left:50%;
	top:50%;
	margin-top: -62.5px;
	margin-left: -62.5px;
	width: 125px;
	height: 125px;
	border:1px #9c9c9c solid;
	transform: rotate(0deg) scale(1,1);
	-webkit-transform: rotate(0deg) scale(1,1);
	-moz-transform: rotate(0deg) scale(1,1);
	-ms-transform: rotate(0deg) scale(1,1);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.service .service-list .service-box:hover .bd {
	border:3px #40afb9 solid;
	transform: rotate(45deg) scale(1.2,1.2);
	-webkit-transform: rotate(45deg) scale(1.2,1.2);
	-moz-transform: rotate(45deg) scale(1.2,1.2);
	-ms-transform: rotate(45deg) scale(1.2,1.2);
}
.service .service-list .service-box .ser-info h3{
	font-size: 26px;
	color:#969696;
}
.service .service-list .service-box .ser-info {
	font-family: "微软雅黑";
}
.service .service-list .service-box .ser-info .tags {
	font-size:16px;
	color:#4fb5bf;
	padding-top: 25px;
	font-weight: bold;
}
.service .service-list .service-box .ser-info .tags span {
	margin-right: 20px;
	line-height: 35px;
}
.service .service-list .service-box .ser-info .tags span:last-child {
	margin-right: 0;
}
.service .service-list .service-box .ser-info p {
	line-height: 36px;
	color:#9a9a9a;
	font-size:14px;
	padding-top: 5px;
}

/*区块链*/
.blockChain {
	height:800px;
	background:url(../images/blockChain-bg.png) no-repeat;
	background-size:100% 100%;
}
.blockChain .lj-more{
	text-align: center;
	margin-top: 60px;
}
.blockChain .blockChain-box {
	position:relative;
	background:url(../images/hive-bg.png) no-repeat center 15px;
	background-size:90% 100%;
	height:600px;
}
.blockChain .blockChain-box .hive-box {
	transform:translateX(0);
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
}
.blockChain .blockChain-box .hive-box:hover {
	transform:translateX(8px);
	-webkit-transform:translateX(8px);
	-moz-transform:translateX(8px);
	-ms-transform:translateX(8px);
}
.blockChain .blockChain-box .hive-t1 {
	position:absolute;
	top: 180px;
    left: 119px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-t1.png) no-repeat;
    background-size: 100% 100%;
}
.blockChain .blockChain-box .hive-t2 {
	position:absolute;
	top: 180px;
    left: 594px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-t2.png) no-repeat;
    background-size: 100% 100%;
}
.blockChain .blockChain-box .hive-b1 {
	position:absolute;
    top: 312px;
    left: 359px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-b1.png) no-repeat;
    background-size: 100% 100%;
}
.blockChain .blockChain-box .hive-b2 {
	position:absolute;
    top: 310px;
    left: 829px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-b2.png) no-repeat;
    background-size: 100% 100%;
}

/*团队介绍*/
.team {
	padding-top: 60px;
	padding-bottom:40px;
	background:url(../images/team-bg.png) no-repeat;
	background-size:100% 100%;
}
.team .team-title {
	text-align: center;
}
.team .team-title img {
	height: 64px;
	display: inline-block;
}
.team .team-introduce {
	width:1000px;
	padding:50px 0;
	border:1px #b4b4b4 solid;
	text-align: center;
	margin:0 auto;
	margin-top:40px;
}
.team .team-introduce h2 {
	color:#5f5f5f;
	font-size: 28px;
}
.team .team-introduce p {
	color:#6d6d6d;
	font-size: 16px;
	line-height: 40px;
	padding-top: 30px;
}

/*联系我们*/
.contact .contact-box {
	font-family: "微软雅黑";
	padding-top: 130px;
	padding-bottom: 40px;
}
.contact .contact-box .contact-l {
	width:520px;
	padding-left: 80px;
}
.contact .contact-box .contact-l h3 {
	color:#484848;
	font-size: 22px;
	padding-bottom: 30px;
}
.contact .contact-box .contact-l .p1 {
	font-size:14px;
	line-height: 30px;
	color:#5a5a5a;
}
.contact .contact-box .contact-l .p2 {
	font-size:12px;
	line-height: 30px;
	color:#484848;
	padding-top: 130px;
}
.contact .contact-box .contact-l .email {
	color:#484848;
	margin-top: 25px;
}
.contact .contact-box .contact-l .email h4 {
	font-size: 18px;
}
.contact .contact-box .contact-l .email p {
	font-size: 18px;
	line-height: 40px;
}
.contact .contact-box .contact-r input{
	height: 30px;
	padding:5px;
	border:1px #ccc solid;
	width: 550px;
	font-size: 14px;
	display: inline-block;
}
.contact .contact-box .contact-r textarea {
	height: 140px;
	padding:5px;
	border:1px #ccc solid;
	width: 550px;
	font-size: 14px;
	resize: none;
}
.contact .contact-box .contact-r .input-group input {
	width: 264px;
}
.contact .contact-box .contact-r .input-group input:first-child {
	margin-right: 10px;
}
.contact .contact-box .contact-r .form-item {
	margin-bottom: 20px;
	font-size: 0;
}
.contact .contact-box .contact-r .btn-submit {
	width:280px;
	height: 50px;
	line-height:50px;
	text-align: center;
	margin:0 auto;
	color:#fff;
	background:#40afb9;
	font-size:14px;
	border-radius:3px;
	display:block;
}
/*tip*/
.tip {
	text-align: center;
	height: 90px;
	line-height: 90px;
	font-size: 20px;
	background: #40afb9;
	color:#fff;
	font-family: "微软雅黑";
}

/*宣传*/
.propagate {
	background: #262626;
	padding-top: 100px;
	min-height: 230px;
	padding-bottom: 20px;
}
.propagate .propagate-box {
	position: relative;
	font-size: 0;
	font-family: "微软雅黑";
	color:#fff;
}
.propagate .propagate-box .propagate-l h3 {
	color:#fff;
	font-size: 22px;
	margin-bottom: 30px;
}
.propagate .propagate-box .propagate-l p {
	font-size: 14px;
	color:#fff;
	line-height: 30px;
	margin-bottom: 30px;
	width: 550px;
}
.propagate .propagate-box .propagate-l .propagate-info {
	font-size: 18px;
}
.propagate .propagate-box .propagate-l .propagate-info p {
	line-height: 31px;
	font-size: 18px;
}
.propagate .propagate-l .propagate-info p i {
	width: 31px;
	height: 31px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
}
.propagate .propagate-l .propagate-info p i.date-icon {
	background: url(../images/date-icon.png) no-repeat;
}
.propagate .propagate-l .propagate-info p i.email-icon {
	background: url(../images/email-icon.png) no-repeat;
}
.propagate .propagate-box dl {
	font-size:14px;
	display:inline-block;
	min-width:230px;
	vertical-align: top;
}
.propagate .propagate-box dl dt {
	padding-bottom: 30px;
	font-size: 20px;
}
.propagate .propagate-box dl dd {
	line-height: 30px;
}
.propagate .propagate-box .qr-more {
	position: absolute;
	top:5px;
	right:2px;
}
.propagate .propagate-box .qr-more p {
	font-size:14px;
	padding-top: 15px;
	text-align: center;
}

/*许可*/
.permit {
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	background: #1c1c1c;
	color:#fff;
	font-family: "微软雅黑";
}

/*英文*/
#lang-en .effect li {
	padding:0;
	width:355px;
	margin-right:0;
}
#lang-en .effect li .effect-title {
    font-size: 30px;
    color: #484848;
    font-weight: bold;
    font-family: "微软雅黑";
    padding-top: 30px;
    line-height: 36px;
}
#lang-en .effect li .effect-introduce {
    padding-top: 20px;
    font-size: 14px;
    color: #8f8f8f;
}
#lang-en .effect li .effect-introduce p.place{
	width:100%;
	height: 15px;
}
#lang-en .blockChain .blockChain-box {
    position: relative;
    background: url(../images/hive-bg-en.png) no-repeat center 15px;
    background-size: 90% 100%;
    height: 600px;
}
#lang-en .blockChain .blockChain-box .hive-t1 {
	position:absolute;
	top: 180px;
    left: 119px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-t1-en.png) no-repeat;
    background-size: 100% 100%;
}
#lang-en .blockChain .blockChain-box .hive-t2 {
	position:absolute;
	top: 180px;
    left: 594px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-t2-en.png) no-repeat;
    background-size: 100% 100%;
}
#lang-en .blockChain .blockChain-box .hive-b1 {
	position:absolute;
    top: 312px;
    left: 359px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-b1-en.png) no-repeat;
    background-size: 100% 100%;
}
#lang-en .blockChain .blockChain-box .hive-b2 {
	position:absolute;
    top: 310px;
    left: 829px;
    width: 267px;
    height: 230px;
    background: url(../images/hive-b2-en.png) no-repeat;
    background-size: 100% 100%;
}